.Navigation {
  &-Item {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-bottom: 14px;
    background-color: var(--white-color);
    &_selected {
      background-color: var(--orange-color);
    }
  }
}