.Page {
  width: 100%;
  height: 100%;
  overflow: scroll;
  scroll-snap-type: y mandatory;

  &-Navigation {
    position: fixed;
    top: 50%;
    right: 54px;
    transform: translate(-50%, -50%);
  }

  &-Next {
    position: fixed;
    left: 0;
    bottom: 0;
  }
}