.Pulse {
  position: relative;
  display: block;

  &-Circle1, &-Circle2, &-Circle3 {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    background-color: var(--light-orange-color);
    border: 1px solid var(--orange-color);
    animation: pulse 3s linear infinite;
  }

  &-Circle1 {
    animation-delay: 0s;
  }

  &-Circle2 {
    animation-delay: 1.2s;
  }

  &-Circle3 {
    animation-delay: 1.8s;
  }

  &_size {
    &_big {
      width: 20px;
      height: 20px;

    }
    &_medium {
      width: 12px;
      height: 12px;
    }
    &_small {
      width: 8px;
      height: 8px;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.1);
    background-color: var(--orange-color);
  }

  50% {
    opacity: 2;
    background-color: var(--light-orange-color);
    border: 0.2px solid var(--orange-color);
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
    background-color: var(--light-red-color);
    border: 0.2px solid var(--red-color);
  }
}

@keyframes pulse-2{
  0% {
    transform: scale(0.1) translate(-50%, -50%);
  }

  50% {
    opacity: 0.9;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}