@font-face {
  font-family: "GothamPro Lights";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('/public/fonts/GothamPro-Light.woff') format('woff');
}

@font-face {
  font-family: "GothamPro";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url('/public/fonts/GothamPro.woff') format('woff');
}

@font-face {
  font-family: "LatoRegular";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url('/public/fonts/Lato-Regular.woff') format('woff');
}

// TODO: доделать шрифты