*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

////////////////
@import 'abstracts/fonts';
@import 'abstracts/variables';
@import 'abstracts/mixins';

////////////////
@import 'blocks/page.scss';
